html {
  font-size: 62.5%;
}

body {
  font-family: Courier, "Courier New", monospace;
  font-size: 2em;
  line-height: 2em;
}

h1 {
  font-size: 2em;
  font-weight: bold;
  margin: 1em 0;
}

p {
  margin: 0.5em 0;
}

ol {
  text-align: left;
  margin: 0.5em 0;
}

ol li {
  list-style-type: upper-roman;
  list-style-position: inside;
}

#container {
  padding: 1em;
  min-width: 1020px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

#chart {
  margin-left: auto;
  margin-right: auto;
}

.bar {
  stroke: none;
  fill: peru;
}

.axis {
  font: 1em sans-serif;
}
.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.x.axis path {
  width: 1px;
  /* display: none; */
}
